PORT=3000
NODE_ENV=development
MONGO_URI=mongodb+srv://USUARIO:CONTRASEÑA@cluster0.xxxxx.mongodb.net/yieldfit?retryWrites=true&w=majority
JWT_SECRET=GENERA_TU_SECRET_CON_NODE_E_REQUIRE_CRYPTO_RANDOMBYTES_64_TOSTRING_HEX
JWT_EXPIRES_IN=7d
# Orígenes permitidos por CORS separados por comas.
# Ejemplo prod: CLIENT_ORIGINS=https://yieldfit.vercel.app
CLIENT_ORIGINS=http://localhost:5173